@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
  }

/* Hero section styles */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    color: #333;
    background-color: #F6EDEA; /* Change this line */
}

.contactButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
.arrows {
position: absolute;
bottom: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.arrows svg {
    font-size: 3em;
    animation: fade 4.25s infinite ease-in-out;
  }

.arrows svg:first-child {
margin-bottom: -30px;
}

.content {
    max-width: 700px;
    margin: auto; /* This will center the content horizontally */
}

.quote {
    font-size: 1.5em; /* Adjust as needed */
}

.title {
    font-size: 2em; /* Adjust as needed */
}

.description {
    font-size: 1.2em; /* Adjust as needed */
}

.citation {
    display: block;
    text-align: right;
    font-size: 0.6em; /* Adjust as needed */
}