.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fixed-icons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row; /* Align the icons from left to right */
  gap: 10px;
  opacity: 0.6;
}

.fixed-icons svg {
  font-size: 1.75em; /* Make the icons larger */
  padding: 10px; /* Add space around the icons */
  border-radius: 50%; /* Make the icons circular */
  background-color: #F6EDEA; /* Change the color of the icons */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Add a shadow to the icons */
  /*color: black; test*/
}